/* Importando o reset.css */
@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --cor-principal-atletica: #000032;
  --cor-texto: #222236;
  --cor-secundaria-atletica: #ffc900;
  --fonte-principal: "Open Sans", sans-serif;
}

/* Estilos gerais */
body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: var(--fonte-principal);
  color: white;
}

a {
    padding-top: 10px;
}
.logo-uni-si {
    width:50px;
    gap: 10px;
}
/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: auto;
  background-color: var(--cor-principal-atletica);
  color: white;
  padding: 30px;
}

/* Navbar como row */
.navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.links-nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: white;
  transition: all 0.3s ease; /* Added ease timing function for smoother transition */
}

a:hover {
  transform: scale(1.1); /* Increase scale by 20% on hover */
  color: var(
    --cor-secundaria-atletica
  ); /* Change color to secondary color on hover */
}

.container-titulo {
  display: flex;
  padding: 30px 400px 30px 400px;
  text-align: center;
}

.texto-principal {
  font-size: 36px;
  color: var(--cor-principal-atletica);
  font-weight: 700;
}

.container-texto-grupo1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 80px 300px;
}

.titulo-grupo1 {
  font-size: 25px;
  color: var(--cor-principal-atletica);
  font-weight: 600;
}

.texto-grupo1 {
  font-size: 20px;
  color: var(--cor-texto);
  font-weight: 300;
  line-height: 30px;
}

.video {
    padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.container-texto-grupo2 {
    background-color: var(--cor-principal-atletica);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 80px 400px 80px 300px;
    text-align: center;
}

.titulo-grupo2 {
    font-size: 25px;
    color: var(--cor-secundaria-atletica);
    font-weight: 600;
}

.texto-grupo2 {
    line-height: 25px;
    font-size: 20px;
    color: #f5f5f5;
    font-weight: 300;
}

.titulo-grupo2 {
    font-size: 25px;
    color: var(--cor-secundaria-atletica);
    font-weight: 600;
}

.imagem1 {
    padding-top: 40px;
}

img {
    border-radius: 10px;
}

strong {
    font-weight: 700;
    color: var(--cor-principal-atletica);
}

.ajuste-texto {
    padding-top: 10px;
}


.container-texto-grupo3 {
display: flex;
flex-direction: column;
flex-wrap: wrap;
background-color: #ffc900;
}
.titulo-grupo3 {
    font-size: 25px;
    color: var(--cor--atletica);
    font-weight: 600;
}